

<style>
    
    input {
        
        text-align:center;
        font-weight:bold;
    }
    .form-group {
        margin-top: 0px ;
        margin-bottom: 0px ;
    }
    td {
        padding-left:10px;
        text-align:center;
    }
</style>
<script type="text/javascript">
    function GetPatientsById(patientid) {
        angular.element(document.documentElement).scope().GetPatientsById(patientid);
    }
    $(document).ready(function(){       
        $("input").keypress(function (e) {
            var id = this.id;
            if (id == "txtCode")
            {
                var code = e.keyCode || e.which;
                if (code == 13) { //Enter keycode
                    GetPatientsById($(this).val());
                }
            }
        });

    });
</script>
<section id="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-sm-5 form-horizontal">       
                <div class="form-group">
                    <label  class="col-md-3 col-sm-3 control-label">Mã số</label>
                    <div class="col-md-9 col-sm-9">
                        <input  class="form-control" id="txtCode" ng-model="vm.currentPatient.Id">
                    </div>
                </div>     
                
                <div class="form-group">
                    <label class="col-md-3 col-sm-3 control-label">Họ tên</label>
                    <div class="col-md-9 col-sm-9">
                        <input class="form-control" id="txtName" ng-model="vm.currentPatient.Name" >
                    </div>
                </div> 


                <div class="form-group">
                    <label class="col-md-3 col-sm-3 control-label">Tuổi</label>
                    <div class="col-md-9 col-sm-9">
                        <input class="form-control" id="txtAge" ng-model="vm.age" >
                    </div>
                </div> 


                <div class="form-group">
                    <label class="col-md-3 col-sm-3 control-label">Đ.Thoại</label>
                    <div class="col-md-9 col-sm-9">
                        <input class="form-control" id="txtPhone" ng-model="vm.currentPatient.Phone">
                    </div>
                </div> 
                
                
                           
            </div>
            <div class="col-md-1 col-sm-1">
                <button id="btnCreatePatient" ng-click="vm.CreatePatient()">Tạo mới</button>
            </div>
            <div class="col-md-6 col-sm-6">
                <table class="table table-striped table-bordered col-md-12 col-sm-12">
                    <thead>
                        <tr>
                            <td>Code</td><td>Tên</td><td>Đ.Thoại</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pa in vm.patients">
                            <td>{{pa.Id}}</td>
                            <td>
                                <button class="btn-block" id="btnPatient_{{pa.Id}}" ng-click="vm.GetPatientById(pa.Id)">
                                    {{pa.Name}}
                                </button>                                
                            </td>
                            <td>{{pa.Phone}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-3 col-sm-3 ">
                <table class="table table-striped table-bordered  col-md-12 col-sm-12">
                    <thead>
                        <tr>
                            <td>Code</td>
                            <td>Ngày mua</td>
                            <td>Số loại</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ph in vm.PatientHistories">
                            <td>{{ph.PatientId}}</td>
                            <td>
                                <button class="btn-block" ng-click="vm.GetMedicineHistoriesByPatientId(ph.PatientId, ph.Date)">
                                    {{ph.Date | date:'dd-MM-yyyy'}}
                                </button>     
                            </td>
                            <td>{{ph.Count}}</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            <div class="col-md-9 col-sm-9">
                <table class="table table-striped table-bordered col-md-12 col-sm-12">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td class="col-md-2 col-sm-4">Tên thuốc</td>
                            <td class="col-md-2 col-sm-2">Đ.Vị</td>
                            <td class="col-md-2 col-sm-2">S.Lượng</td>
                            <td class="col-md-3 col-sm-3">Đơn giá</td>
                            <td>Thành tiền</td>
                        </tr>
                    </thead>
                    <tbody>
                        <!--<tr ng-repeat="mh in vm.MedicineHistories">

                            <td>{{mh.Id}}</td>
                            <td>{{mh.MedicineName}}</td>
                            <td>{{mh.Unit}}</td>
                            <td>{{mh.Count}}</td>
                            <td>{{mh.Price}}</td>
                            <td>{{mh.Count * ph.Price}}</td>                           
                        </tr>-->
                        
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><label class="control-label" id="lblMHID"></label></td>
                            <td><input id="txtMedicineName" class="form-control"/></td>
                            <td><input id="txtUnit" class="form-control" /></td>
                            <td><input id="txtCount" class="form-control" /></td>
                            <td><input id="txtPrice" class="form-control" /></td>
                            <td><label class="control-label" id="lblMHTotal"></label></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>