

<style>
    input {
        text-align: center;
        font-weight: bold;
    }

    .form-group {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    td {
        padding-left: 10px;
        text-align: center;
    }

    .divCornor {
        border: 2px solid #BDBDBD;
        padding: 0px;
    }

    .buttonDelete {
        background-color: red;
        color: white;
    }
</style>
<script type="text/javascript">
    function SetCurrentDate() {
        $("#datepicker").val(moment().format("D-M-YYYY")).data('Zebra_DatePicker');
    }
    $(document).ready(function () {

        $('input').on('keydown', function (event) {
            var id = this.id;
            if (id == "txtCode") {
                
            }

        });
        $("button").click(function () {
            var id = this.id;
            if (id == "btnToday")
            {
                
            }
        });
        $("input").keypress(function (e) {
            var id = this.id;
            if (id == "txtCode") {
                
            }
        });
        $("input").focus(function (e) {
            $(this).select();
        });
        var $zdp = $('#datepicker').data('Zebra_DatePicker');
        $("#datepicker").Zebra_DatePicker({
            format: "d-m-Y",
            onSelect: function (formatted_date, standard_date, js_date) {
                var PatientId = $("#txtCode").val();
                //GetMedicineHistoriesByPatientId(PatientId, standard_date);
            }
        });
        SetCurrentDate();
    });
</script>
<section id="content">
    <div class="loading" ng-show="vm.loading"></div>
    <div class="container-fluid">
        <div class="row col-md-12 col-sm-12">
            <input style="float:left; font-size:20px;" id="datepicker" type="text" />
        </div>
        
    </div>
</section>