<style>
    input {
        text-align: center;
        font-weight: bold;
    }

    .btnProfile {
        width:50%;
    }
</style>

<script>
    $(document).ready(function () {
        $(".intro").hide();
        $("button").click(function () {
            var id = this.id;
            if (id == "btnMyProfile") {
                $(".intro").hide();
            }
            else if (id == "btnChangePassword") {
                $(".intro").hide();
                $("#divChangePassword").show();
            }
            else if (id == "btnMyModules") {
                $(".intro").hide();
            }
        });        
    });
</script>
<header ng-include="'./SharedViews/_top.menu.html'"></header>
<section id="content">
    <div class="loading" ng-show="vm.loading"></div>
    <div class="container-fluid body-content">
        <div class="col-md-4 col-sm-4">
            <div class="row">
                <button id="btnMyProfile" class="btn btn-primary btnProfile">My profile</button> 
            </div>
            <div class="row">
                <button id="btnChangePassword" class="btn btn-primary btnProfile">Change password</button> 
            </div>
            <div class="row">
                <button id="btnMyModules" class="btn btn-primary btnProfile">My modules</button> 
            </div>
        </div>
        <div class="col-md-8 col-sm-8 ">
            <div class="intro col-md-7 col-sm-7" id="divChangePassword">
                <div class="row">
                    <label style="font-weight:bold; font-size:large; width:100%; height:20px; text-align:center">CHANGE PASSWORD</label>
                </div>
                <div class="row">
                    <label style="width:100%; height:20px; text-align:center">=========================</label>
                </div>
                <div style="border: 2px solid #BDBDBD;">
                    <div class="row form-group form-horizontal">
                        <label class="col-md-4 col-sm-4 control-label">Old password</label>
                        <div class="col-md-7 col-sm-7" style="padding:0px;">
                            <input class="form-control" ng-model="vm.password" />
                        </div>
                    </div>
                    <div class="row">
                        <p style="width:100%;"></p>
                    </div>
                    <div class="row form-group form-horizontal">
                        <label class="col-md-4 col-sm-4 control-label">New password</label>
                        <div class="col-md-7 col-sm-7" style="padding:0px;">
                            <input class="form-control" ng-model="vm.newpassword" />
                        </div>
                    </div>
                    <div class="row form-group form-horizontal">
                        <label class="col-md-4 col-sm-4 control-label">Confirm password</label>
                        <div class="col-md-7 col-sm-7" style="padding:0px;">
                            <input class="form-control" ng-model="vm.confirmpassword" />
                        </div>
                    </div>
                    
                    <div class="row">
                        <p style="width:100%;"></p>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary" id="btnChangePassword" ng-click="vm.ChangePassword()">Change</button>
                    </div>
                </div>
            </div>
        </div>        
        
    </div>
</section>