<style>
    input {
        text-align: center;
        font-weight: bold;
    }

    .form-group {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    td {
        padding-left: 10px;
        text-align: center;
    }

    .divCornor {
        
        position: fixed;
          top: 30%;
          left: 50%;    
          width:100%;          
  /* bring your own prefixes */
  transform: translate(-50%, -50%);      
    }

    .buttonDelete {
        background-color: red;
        color: white;
    }
</style>
<section id="content">
    <div class="loading" ng-show="vm.loading"></div>
    <div class="container-fluid divCornor">
        <div class="col-md-4 col-sm-4"> </div>
        <div class="col-md-4 col-sm-4 ">
            <div style="border: 2px solid #BDBDBD;">
                <div class="row form-group form-horizontal">
                    <label class="col-md-4 col-sm-4 control-label">User name</label>
                    <div class="col-md-7 col-sm-7" style="padding:0px;">
                        <input class="form-control" ng-model="vm.username"  />
                    </div>
                </div>
                <div class="row form-group form-horizontal">
                    <label class="col-md-4 col-sm-4 control-label">Password</label>
                    <div class="col-md-7 col-sm-7" style="padding:0px;">
                        <input type="password" class="form-control" ng-model="vm.password" />
                    </div>
                </div>
                <div class="row">
                    <p style="width:100%;"></p>
                </div>
                <div class="row">
                    <button class="btn btn-primary" id="btnLogin" ng-click="vm.Login()">Login</button>
                </div>
            </div>
        </div>        
        <div class="col-md-4 col-sm-4"> </div>
    </div>
</section>